body{
    FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 10pt;
    background-color: #fff;
    /*background-color: #00577D;*/
    /*background: url(/images/background.gif) repeat;*/
    /*background: url(/images/back.jpg) repeat;*/
    padding: 0px;
    margin: 0px;
}

#top_background_line{
    position:absolute;
    background: #2b5866;
    top:0;
    left:0;
    right:0;
    height:40px;
    z-index:-1;
}
#header_top_line_content{
    width:1000px;
    margin:0 auto;
}
#main_menu{
    float:right;
}
#header_top_line_content ul{
    list-style-type: none;
    margin: 0 auto;
    height:100%;
    padding-left:20px;
    /*padding-left:5%;*/
    font-family: sans-serif;
    text-transform: uppercase;
}
#header_top_line_content ul li{
    float:left;
    margin-right:10px;
    height:100%;
    /*line-height:39px;*/
}
#header_top_line_content ul li a{
    color:#fff;
    font-size:11px;
    text-decoration: none;
}
#main_menu li{
    line-height:39px;
}

#select_lang{
    float:left;
    width:auto !important;
}

#select_lang li a{
    font-size:10px !important;
}
#select_lang img{
    height:20px;
    margin-top:8px;
}

#select_lang li.active_lang img{
    /*font-size: 12px !important;*/
    /*color: #9a202b !important;*/
    height:30px;
    margin-top:5px;
}
#select_lang li:not(.active_lang) img:hover{
    height:28px;
    margin-top:5px;
}

#header_menu{
    /*width:1000px;*/
    /*margin:0 auto;*/
}
#header_top_line{
    width:100%;
    height:40px;
    background: #2b5866;
    min-width:1000px;
    /*background: url(/images/but2.gif) repeat-x;*/
}
#header_top_line > ul{
    width:1000px;
    margin:0 auto;
}
#header_block{
    background: url(/images/header.png);
    background-size:100%;
    height:135px;
    width:1000px;
    margin:0 auto;
    clear:both;
}
#orange_line{
    background: #51A0BA;
    height:40px;
    min-width:1000px;
}
#orange_line_content{
    width:960px;
    margin:0 auto;
    padding: 3px 20px 0 40px;
}
#orange_line_content > div{
    width:250px;
}
#orange_line_content input{
    height:24px;
    margin: 8px 0;
}


#header_middlie {
    /*width: 650px;*/
    height: 99px;
    float: left;
    /*text-align: center;*/
    font-size: 20px;
    margin-left:80px;
    color: #cacaca;
    margin-top:15px;
    /*color: #d9d5d4;*/
    line-height: 40px;
    /*letter-spacing:5px;*/
    text-transform:uppercase;
    font-family: sans-serif;
}

#header_middlie img{
    width:700px;
    margin-top:15px;
    margin-left:10px;
}

#header_left{
    /*margin-left:20px;*/
}
#header_left img{
    /*filter: invert(1);*/
    margin-left: 70px;
    width: 115px;
    margin-top: 55px;
}
.logo_background{
    margin-left: 70px;
    width: 115px;
    margin-top: 55px;
    height:41px;
    background: url(/images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.logo_background:hover{
    background: url(/images/logo_active.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo {
    text-align: center;
    /*background-color: #9a202b;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    float:left;
    position:relative;
}

/*.logo::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    right: -30px;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    border-style: solid;*/
/*    background-color: rgba(0, 0, 0, 0);*/
/*    border-width: 0 30PX 101px 0px;*/
/*}*/

.logo::after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #9a202b rgba(0, 0, 0, 0);
}

#header_right{
    width: 140px;
    float:right;
    text-align: center;
    margin-right:160px;
    font-family: sans-serif;
    padding-top:2px;
}
#header_right p{
    margin:0;
    padding:0;
}
#header_right a{
    text-decoration: none;
    line-height:18px;
    color:#fff;
}
#header_right a:hover{
    color:#ccc;
}

#content{
    margin:0 auto;
    width:960px;
    /*position:relative;*/
    display: table;
}

#main_block{
    width:748px;
    /*border:1px solid silver;*/
    margin-left:200px;
    min-height:400px;
    /*background: #f5ebe5;*/
    /*background: #00587E;*/
    display: table-cell;
    vertical-align: top;
    padding: 20px 10px;
    color: black;
}
#main_block a{
    color:black;
}

#left_menu{
    width:230px;
    margin-right:20px;
    float:left;
    /*border:1px solid silver;*/
    /*position:absolute;*/
    display: table-cell;
    top:0;
    bottom:0;
}

#left_menu ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
#left_menu ul li{
    line-height: 20px;
    background: #fff;
    padding: 2px 20px;
    border-bottom: 1px solid #999999;
    display:block;
}
#left_menu ul li:hover{
    background: #fff;
}

#left_menu ul li a{
    text-decoration:none;
    color:black;
    display:block;
    font-size:10px;
}

.left_menu_title{
    /*background: #A50505;*/
    padding: 2px 5px;
    font-size: 17px;
    font-weight: bold;
    color:#000000;
    padding: 20px 0px 20px 10px;
}

.card-group{
    width:100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 95%;
    margin-bottom: 15px;
}

.card img{
    width:20%;
}
.card-body{
    width:65%;
    padding: 10px 5%;
    display: inline-block;
    vertical-align: top;
}
.card-text{
    font-size:10px;
}
.card-title{
    margin: 0
}

.book_description{
    font-size:12px;
}
.page_title{
    font-weight:bold;
    margin:20px 0 20px 0;
    font-size:16px;
}

.journal_img{
    width:100%;
    margin: 25px 0;
    display: inline-block;
}
.book_img{
    margin: 25px 5px;
    display: inline-block;
}
.jurnal_short_info{
    display: inline-block;
    width:60%;
    vertical-align:top;
}
.jurnal_short_info div{
    width:100%;
    margin:7px 0px;
}
.field_name{
    font-weight: bold;
}
.subtitle{
    /*text-align: center;*/
    font-weight:bold;
    text-transform: uppercase;
    font-size: 10pt;
    color: #797979;
    /*text-decoration: underline;*/
    margin: 10px 0;
    padding:4px 0;
}
.subtitle_lower{
    font-weight:bold;
    font-size: 11pt;
    color: #797979;
    margin: 10px 0;
    padding:4px 0px;
}

.margin_top{
    margin-top:10px;
}
.bold{
    font-weight: bold;
}

.padding{
    padding-left:10px !important;
}

.section_subtitle{
    /*text-align: center;*/
    /*font-weight:bold;*/
    /*text-transform: uppercase;*/
    font-size: 16px;
    color: #000;
    /*text-decoration: underline;*/
    margin: 10px 0;
    padding:7px 10px;
    background: #ccc;
}

.number_year{
    clear:both;
    display: inline-block;
}
.number_val{
    display: inline-block;
    margin-left:10px;
}
.number_val a{
    color: black;
    text-decoration: none;
}
.number_list{
    margin:0 15px 20px 15px;
}
.number_line{
    margin-bottom:5px;
}

.article_box{
    margin-bottom:2px;
    display:table;
    table-layout: fixed;
    width:100%;
    /*border: 1px solid #2d3845;*/
    background: #e6e6e6;
}
.article_box .col1, .col2{
    display:table-cell;
    padding:7px 15px;
    width:90%;
}
.article_box  .col2 {
    width:100px;
    vertical-align: middle !important;
    text-align: center;
    border-left: 2px solid #fff;
    color:#000;
    width:10%;
}

.article_box_name a{
    text-decoration:none;
    font-size:14px;
    color: #000;
}
.article_box_name{
    margin-bottom:8px;
}
.article_box_authors{
    color: #4c4c4c;
    font-size:12px;
}

.keywords a{
    text-decoration:none;
    color: #9a202b;
    background: #dddddd;
    padding:4px;
    border-radius:7px;
    font-size:10px;
}
.keywords{
    margin:5px 3px;
    display:inline-block;
}

.black_link{
    text-decoration: none;
    color:#2d3845;
}

.cursive_title{
    margin:10px auto;
    font-family: cursive;
    font-weight:bold;
    font-size:16px;
}
.paginator{
    width:100%;
    display:block;
    text-align:center;
}

.auth_form{
    width:50%;
    margin:30px auto;
    border:1px solid #2b5866;
}
.auth_form label{
    text-align:center;
    line-height:140%;
    display:block;
    margin-top:7px;
}

.auth_form input{
    width:60%;
    margin:7px auto;
    display:block;
}
.auth_form input[type="submit"]{
    width:60%;
    margin:14px auto;
    display:block;
    cursor:pointer
}

.reg_error{
    color:#9a202b;
    display:block;
    text-align:center;
}

#reg_link a{
    color:#2b5866;
}
#reg_link{
    text-align: center;
    margin-bottom: 14px;
}

#logout_button {
    background: #2b5866;
    border: 0;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
}

.article_text{
    display:none;
}

.article_text_title{
    cursor: pointer;
}

.main_news{
    background: #E6E6E6;
    border: 1px solid #999999;
    margin-bottom:10px;
    padding:10px 15px;
}

#left_menu_journal{
    list-style-type: none;
    border: 1px solid #999999;
}
#left_menu_journal li{
    height:40px;
    line-height:40px !important;
    border:0 !important;
    background: #E6E6E6 !important;
}
#left_menu_journal li a{
    text-decoration: none;
    color:#000;
    font-size:13px !important;
    line-height:40px !important;
    border-bottom: 1px solid #fff;
}

#journal_menu{
    list-style-type: none;
    float:right;
    padding:0;
    margin:0;
}
#journal_menu li{
    display:inline-block;
    margin-left:8px;
    height:100%;
}

#journal_menu li a{
    text-decoration: none;
    color:#fff;
    font-size:12px;
    line-height: 32px;
    text-transform: uppercase;
}

.download_button{
    background:#51A0BA;
    color:white !important;
    text-decoration: none;
    padding:5px 8px;
    font-size:18px;
    display: block;
    width: 100px;
    text-align: center;
}

.news_block{
    margin-bottom:15px;
}
.news_block a{
    font-size:16px;
}

.short_news{
    font-family: cursive;
    padding-left:15px;
}

.price_book{
    background: #ccc;
    padding:5px 0px;
    font-size:16px;
    color:#000;
    margin-left:20px;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    width: 190px;
    text-align: center;
}
.cart_img{
    cursor:pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left:8px;
    width:30px;
    padding: 5px;
    background: #51A0BA;
    vertical-align: middle;
    border: 1px solid #51A0BA;
    border-right:0;
}
.cart_line{
    display: table-row;
}
.cart_block{
    text-align: center;
    margin: 10px 0 0 13px;
    background: #fff;
    height:35px;
    display: table;
}
.cart_button{
    vertical-align: middle;
    height:100%;
    background: transparent;
    border:0;
    width: 148px;
    cursor:pointer;
    font-size:14px;
    display: table-cell;
    border: 1px solid #51A0BA;
}
.cart_button:hover{
    color:white;
    background: #51A0BA;
}

.right_cart_block{
    /*position:absolute;*/
    /*top:30px;*/
    /*right:20px;*/
    float:right;
}

.relative{
    position: relative;
}

.gray_font{
    color: #8a8a8a !important;
}

.user_form{
    width:90%;
    margin:20px auto;
    border:1px solid #ccc;
    padding:20px;
}
.user_form select{
    display: block;
    width:100%;
}
.user_form label{
    display:block;
    margin-bottom:5px;
}
.user_form input, textarea{
    margin-bottom:10px;
    display:block;
    width:100%;
}

.user_form input[type="button"]{
    width:auto !important;
    margin: 20px auto;
    font-size:18px;
    padding:8px 16px;
}

.ajax_error{
    color:red;
    text-align:center;
    font-size:20px;
}

.ajax_success{
    color: #1b6d03;
    text-align:center;
    font-size:20px;
}

.cart_box{
    border: 1px solid #ccc;
    display: table;
    table-layout: fixed;
}
.cart_box_img{
    width:150px;
    padding: 10px;
}
.cart_box_img img{
    display:block;
    width:100%;
}
.cart_box .remove_link img{
    width:30px !important;

    margin: 10px auto;
}
.cart_box_line{
    display: table-row;
}

.cart_box_cell{
    display: table-cell;
    vertical-align: top;
}
.cart_box_price{
    width:150px;
    text-align: center;
}
.total_price{
    text-align: right;
    padding-right: 15px;
    font-size:18px;
    margin-top:20px;
}

.cart_order_input{
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin:0 auto;
    cursor:pointer;
}

.back_arrow{
    background: url(/images/back.png);
    width:25px;
    height:25px;
    display: inline-block;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: -12.5px;
    left: -30px;
}
.back_arrow:hover{
    background: url(/images/back_active.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hidden{
    display:none;
}
.cart_active{
    color:#333;
    text-align: center;
}

.journals_info_ru{
    background: url(/images/journal.png);
    background-size: 100%;
}

.journals_info_ru:hover{
    background: url(/images/journal_.png);
    background-size: 100%;
}

.journals_info_en{
    background: url(/images/journal_eng.png);
    background-size: 100%;
}

.journals_info_en:hover {
    background: url(/images/journal_eng_.png);
    background-size: 100%;
}

#journals_info_link{
    width: 140px;
    height: 140px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-top:30px;
}



.books_info_ru{
    background: url(/images/book.png);
    background-size: 100%;
}

.books_info_ru:hover{
    background: url(/images/book_.png);
    background-size: 100%;
}

.books_info_en{
    background: url(/images/book_eng.png);
    background-size: 100%;
}

.books_info_en:hover {
    background: url(/images/book_eng_.png);
    background-size: 100%;
}


#books_info_link{
    width: 140px;
    height: 140px;
    margin-left: 40px;
}


input[type="button"],
input[type="button"]:active,
input[type="button"]:focus {
    outline: none;
}

.current_path{
    color:#2b5866;
    font-size:11px;
}
.current_path a{
    color:#2b5866 !important;
    font-size:11px;
}
.path_arrow{
    font-size:8px;
    font-weight: bold;
}

.journal_menu_block{
    /*display: flex;*/
    /*justify-content: space-between;*/
    width:100%;
    /*flex-wrap: wrap;*/
}
.journal_menu{
    list-style-type: none;
    padding:0;
    margin: 10px 0;
    width:100%;

    cursor:pointer;
}
.journal_menu > li{
    margin: 0 0 5px 0;
    font-size:15px;
    color: #707070;
    display: none;
}
.journal_menu li a {
    color: #999999 !important;
    font-size:15px;
    text-decoration: none;
    padding-left:30px;
}
/*.journal_menu li a::before {*/
/*    color: #2b5866 !important;*/
/*    content: "» ";*/
/*}*/
.journal_menu_title{
    list-style-type: none;
    color: #000 !important;
    background: #ccc;
    margin: 10px 0;
    padding: 7px 10px;
    display:block !important;
}

.journal_menu_title:hover{
    color:#fff !important;
}
.journal_menu_title.active{
    color:#fff !important;
}
