<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{admin_template::head}">

</head>
<body>
<div id="admin">
    <div th:replace="~{admin_template :: admin_menu}">

    </div>
    <div id="admin_content">
        <nav class="current_path"><a href="/admin/">Главная</a><span class="path_arrow"> > </span><span>Настройка полей</span></nav>
        <div class="relative">
            <div class="page_title">Добавление полей</div>

            <div th:each="item: ${items}" th:if="${item.id > 0}">

                <span class="item_field_name" th:text="${item.name}"></span><span th:if="${type} != 'size' and ${type != 'publisher'}" th:text="' ('+${item.nameEng}+')'"></span>
<!--                <a class="remove_link" th:href="@{'/admin/'+${type}+'_delete'(id=${item.id})}"><img title="удалить"-->
<!--                                                                                                    class="remove_line_img"-->
<!--                                                                                                    src="/images/delete.png"></a>-->
            </div>
            <form class="main_form" method="post" th:action="@{'/admin/'+${type}+'_change'}" th:object="${object}">
                <div class="form__group field">
                    <input class="form__field" th:field="*{name}" placeholder="Название" id="name" name="name" type="text">
                    <label class="form__label">Название</label>
                </div>
                <div class="form__group field" th:if="${type != 'size'} and ${type != 'publisher'}">
                    <input class="form__field" th:field="*{nameEng}" placeholder="Название (англ.)" id="namEng" name="nameEng" type="text">
                    <label class="form__label">Название (англ.)</label>
                </div>

<!--                <div class="form__group field" th:if="(${type} == 'publisher')">-->
<!--                    <input class="form__field" th:field="*{extname}" placeholder="Название полное" id="extname" name="extname" type="text">-->
<!--                    <label class="form__label">Название полное</label>-->
<!--                </div>-->

                <input id="submit" value="Сохранить" type="submit">
            </form>

        </div>
    </div>
</div>

</body>
</html>