<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{admin_template::head}">

</head>
<body>
<div id="admin">
    <div th:replace="~{admin_template :: admin_menu}">

    </div>
    <div id="admin_content">
        <div th:if="${action == 'book_sort_new'} or ${action == 'book_sort'}" class="relative">
            <div th:if="${action == 'book_sort_new'}" class="title">Список новых книг</div>
            <div th:if="${action == 'book_sort'}" class="title" th:text="${booksec.name}">Список новых книг</div>
            <br>
            <input class="element_type" type="hidden" th:value="${action}">
            <div class="article_box" th:each="book, iter : ${books}">
                <div class="col1">
                    <a th:href="@{/admin/book_change(id=${book.id})}" th:text="${book.name}"></a>
                    <input class="sort_num" type="hidden" th:value="(${action == 'book_sort_new'})?${book.sortNew}:${book.sort}">
                    <input class="element_id" type="hidden" th:value="${book.id}">
                </div>
                <div class="col2">
                    <img class="up_arrow" title="вверх" th:if="${iter.index != 0}" th:src="@{/images/up.png}">
                    <img class="down_arrow"  title="вниз" th:if="${(iter.index+1) != (iter.size)}" th:src="@{/images/down.png}">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>