<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{admin_template::head}">

</head>
<body>
<div id="admin">
    <div th:replace="~{admin_template :: admin_menu}">

    </div>
    <div id="admin_content">
        <div th:with="number=${@numberService.getNumberById(numberId)}">
        <nav class="current_path"><a href="/admin/">Главная</a> <span class="path_arrow"> > </span><a href="/admin/journal_change">Изменение журналов</a><span class="path_arrow"> > </span><a th:href="@{'/admin/journal_change'(id=${number.journalId})}" th:text="${@journalsService.getJournalById(number.journalId).name}"></a><span class="path_arrow"> > </span><a th:href="@{'/admin/number_change'(id=${number.id})}" th:text="'Журнал '+${number.journal.name}+' №'+${number.name}+' за '+${number.year}+' год'"></a><span class="path_arrow"> > </span><span>Список разделов</span></nav>
        </div>
        <div th:if="${section_list != null}" class="relative">
            <div class="title">Список разделов</div>
            <br>
            <input class="element_type" type="hidden" value="section">
            <div class="article_box" th:each="section, iter : ${section_list}">
                <div class="col1">
                    <a th:href="@{/admin/section_change(id=${section.id})}" th:text="${section.name}"></a>
                    <input class="sort_num" type="hidden" th:value="${section.sort}">
                    <input class="element_id" type="hidden" th:value="${section.id}">
                </div>
                <div class="col2">
                    <img class="up_arrow" title="вверх" th:if="${iter.index != 0}" th:src="@{/images/up.png}">
                    <img class="down_arrow"  title="вниз" th:if="${(iter.index+1) != (iter.size)}" th:src="@{/images/down.png}">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>