<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{admin_template::head}">

</head>
<body>
<div id="admin">
    <div th:replace="~{admin_template :: admin_menu}">

    </div>
    <div id="admin_content">
        <div th:with="number=${@numberService.getNumberById(section.numberId)}">
             <nav th:if="${action == 'section_add'}" class="current_path"><a href="/admin/">Главная</a> <span class="path_arrow"> > </span><a href="/admin/journal_change">Изменение журналов</a><span class="path_arrow"> > </span><a th:href="@{'/admin/journal_change'(id=${number.journalId})}" th:text="${@journalsService.getJournalById(number.journalId).name}"></a><span class="path_arrow"> > </span><a th:href="@{'/admin/number_change'(id=${number.id})}" th:text="'Журнал '+${number.journal.name}+' №'+${number.name}+' за '+${number.year}+' год'"></a><span class="path_arrow"> > </span><span>Добавление раздела</span></nav>
             <nav th:if="${action == 'section_change'}" class="current_path"><a href="/admin/">Главная</a> <span class="path_arrow"> > </span><a href="/admin/journal_change">Изменение журналов</a><span class="path_arrow"> > </span><a th:href="@{'/admin/journal_change'(id=${number.journalId})}" th:text="${@journalsService.getJournalById(number.journalId).name}"></a><span class="path_arrow"> > </span><a th:href="@{'/admin/number_change'(id=${number.id})}" th:text="'Журнал '+${number.journal.name}+' №'+${number.name}+' за '+${number.year}+' год'"></a><span class="path_arrow"> > </span><span th:text="${section.name}">Раздел</span></nav>
        </div>
        <div th:if="${action == 'section_add'} or ${action == 'section_change'} or ${action == 'section_list'}" class="relative">
            <div class="title" th:if="${action == 'section_add'}">Добавление раздела номера</div>
            <div class="page_title" th:if="${action == 'section_change'} or ${action == 'section_list'}">Изменение раздела</div>
            <form class="main_form" method="post"
                  th:attr="action=${action == 'section_add'?'/admin/section_add':'/admin/section_change'}"
                  th:object="${section}">
                <input th:if="${action == 'section_change'}" th:field="*{id}" id="section_id" name="section_id" type="hidden">
                <input th:if="${action == 'section_change'} or ${section.numberId > 0}" th:field="*{numberId}" id="number_id" name="number_id"
                       type="hidden">
                <div th:if="${section.numberId <= 0}">
                    <!--        <label class="select_label"  th:if="${action == 'section_add'}" for="journal_name">Журнал</label>-->
                    <select class="select-css" th:if="${action == 'section_add'} or ${action == 'section_list'}"
                            id="select_journal_name" name="journal_name">
                        <option selected readonly>Журнал</option>
                        <option th:each="journal : ${journals}" th:value="${journal.id}" th:text="${journal.name}"></option>
                    </select>

                    <!--        <label class="select_label" th:if="${action == 'section_add'}" for="number_year">Год номера</label>-->
                    <select class="select-css" th:if="${action == 'section_add'} or ${action == 'section_list'}"
                            id="select_number_year" name="number_year">
                        <option selected disabled>Год</option>
                        <option th:if="${number != null}" th:value="${number.year}" th:text="${number.year}">Год</option>
                    </select>
                    <select class="select-css" name="numberId" th:if="${action == 'section_add'} or ${action == 'section_list'}"
                            id="select_number_name">
                        <option value="0" readonly th:selected="selected">Номер</option>
                    </select>

                    <select class="select-css" th:field="*{id}" name="id" th:if="${action == 'section_list'}" id="select_section_name">
                        <option value="0" th:disabled="disabled" th:selected="selected">Раздел</option>
                    </select>
                </div>

                <div class="section_main_params main_params" th:if="${action == 'section_add'} or ${action == 'section_change'}">
                    <small class="input_error" th:each="err : ${#fields.errors('numberId')}" th:text="${err}"></small>
                    <small class="input_error" th:each="err : ${#fields.errors('id')}" th:text="${err}"></small>

                    <a class="remove_link" th:if="${action == 'section_change'}" th:href="@{/admin/section_delete(id=${section.id})}"><img
                            title="удалить" class="remove_img" src="/images/delete.png"></a>
                    <p class="choose_number" th:if="${action == 'section_change'}"><a th:href="@{/admin/article_add(section_id=${section.id})}">Добавить статью</a></p>
                    <p th:if="${action == 'section_change'}" class="choose_number"><a th:href="@{/admin/article_list(id=${section.id})}">Список статей</a></p>
                    <div class="form__group field">
                        <input class="form__field" th:field="*{name}" id="name" name="name"
                               placeholder="Название" type="text">
                        <label class="form__label">Название</label>
                    </div>
                    <small class="input_error" th:each="err : ${#fields.errors('name')}" th:text="${err}"></small>

                    <div class="form__group field">
                        <input class="form__field" th:field="*{nameEng}" id="nameEng" name="nameEng"
                               placeholder="Английское название" type="text">
                        <label class="form__label">Английское название</label>
                    </div>
                    <br>
                    <small class="input_error" th:each="err : ${#fields.errors('nameEng')}" th:text="${err}"></small>

                    <input th:if="${action == 'section_change'}" th:field="*{sort}" id="sort" name="sort" type="hidden">

                    <input class="custom-checkbox active" id="checkbox_active" type="checkbox" name="checkbox_active">
                    <label for="checkbox_active">Активировать</label>
                    <input th:field="*{active}" class="checkbox_value" id="active" name="active" th:value="0" type="hidden">
                    <input th:if="${action == 'section_add'}" id="submit" value="Добавить раздел" type="submit">
                    <input class="ajax_submit" th:if="${action == 'section_change'}" id="submit" value="Изменить раздел" type="button">

                    <script>
                        $(".ajax_submit").click(
                            function(){
                                var url = $(".main_form").attr("action");
                                sendAjaxForm('main_params', 'main_form', url);
                                return false;
                            }
                        );
                        init_checkbox();
                    </script>
                    <div class="form_message"></div>
                </div>
                <div th:if="${action == 'section_list'}" class="section_main_params main_params">

                </div>
                <div id="section_options"  class="change_options">

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>