<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head">

    <title>Журнал «Радиотехника» | Администрирование</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <script type="text/javascript" async="" charset="utf-8" src="http://site.yandex.net/v2.0/js/all.js"></script>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <script src="/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/popup.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
    <link rel="stylesheet" type="text/css" href="/admin.css">
    <link rel="stylesheet" type="text/css" href="/popup.css">
    <link rel="stylesheet" type="text/css" href="/admin_menu/css/style.css">
</head>
<body>
<div id="admin">
    <div th:fragment="admin_menu" id="left_menu_column">
        <ul class="accordion-menu">
            <li>
                <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i> Журнал
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li><a href="/admin/journal_add">Добавить</a></li>
                    <li><a href="/admin/journal_change">Изменить</a></li>
                </ul>
            </li>
            <li>
                <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i> Книжный раздел
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li><a href="/admin/booksec_add">Добавить</a></li>
                    <li><a href="/admin/booksec_change">Изменить</a></li>
                </ul>
            </li>
            <li>
                <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i> Книга
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li><a href="/admin/book_add">Добавить</a></li>
                    <li><a href="/admin/book_change">Изменить</a></li>
                </ul>
            </li>
            <li>
                <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i> Меню
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li><a th:href="@{/admin/menu_change(type=main)}">Главное меню</a></li>
                    <li><a th:href="@{/admin/menu_change(type=book)}">Книги</a></li>
                </ul>
            </li>
            <li>
                <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i> Сообщения
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li><a href="/admin/news_change?type=1">Срочное</a></li>
                    <li><a href="/admin/news_change?type=2">Короткое</a></li>
                </ul>
            </li>

            <li>
                <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i> Разное
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li><a href="/admin/other?type=cart">Корзина</a></li>
                    <li><a href="/admin/other?type=order">Заказ книг</a></li>
                    <li><a href="/admin/other?type=subscribe">Подписка</a></li>
                    <li><a th:href="@{/admin/menu_change(id=6)}">Надпись на фоне</a></li>
                    <li><a href="/admin/other?type=fields">Настройка полей</a></li>
                </ul>
            </li>

            <li>
                <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i> <a href="/ru/">На главную страницу сайта</a>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </li>
            <li>
                <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i> <a href="/logout">Выход из админки</a>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </li>
        </ul>
        <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

        <script src="/admin_menu/js/index.js"></script>
    </div>
    <div id="admin_content">

    </div>
</div>
</body>
</html>