<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: header_menu}"></div>

<div id="content">
    <div id="main_block_full" class="relative">
        <h3 th:text="#{cart.cart}"></h3>
        <p class="padding gray_font"
           th:classappend="(${#lists.isEmpty(numbers)} and ${#lists.isEmpty(articles)} and ${#lists.isEmpty(books)} and ${#lists.isEmpty(subscribes)} and ${#lists.isEmpty(orders)})?'':'hidden'"
           th:text="#{cart.empty}"></p>
        <p class="padding gray_font" th:if="not ${#lists.isEmpty(books)}" th:text="#{book.books}">Книги</p>
        <div class="card-group cart_box" th:if="not ${#lists.isEmpty(books)}">
            <div class="card cart_box_line" th:each="book : ${books}">
                <div class="cart_box_cell cart_box_img">
                    <a th:href="'/'+#{language}+'/books/'+${book.id}"><img th:src="'/uploads/books/' + ${book.coverImg}"
                                                                           class="card-img-top"
                                                                           th:alt="((#{language} == 'ru') or (${book.nameEng} == ''))?${book.name}:${book.nameEng}"></a>

                </div>
                <div class="card-body cart_box_cell">
                    <a class="black_link" th:href="'/'+#{language}+'/books/'+${book.id}"><h4 class="card-title"
                                                                                             th:text="((#{language} == 'ru') or (${book.nameEng} == ''))?${book.name}:${book.nameEng}"></h4>
                    </a>
                    <p class="card-text"
                       th:utext="((#{language} == 'ru') or (${book.authorEng} == ''))?${book.author}:${book.authorEng}"></p>
                    <div class="card-text book_description"
                         th:utext="((#{language} == 'ru') or (${book.descriptionEng} == ''))?${book.description}:${book.descriptionEng}"></div>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <a class="remove_link"
                       th:href="'/cart_delete?type=book&product='+${book.id}"><img
                            title="удалить" class="remove_img" src="/images/delete.png"></a>
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span class="item_price" th:text="${book.price}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p>
                </div>

            </div>
        </div>

        <p class="padding gray_font" th:if="not ${#lists.isEmpty(orders)}" th:text="#{cart.paperEditionBook}">Бумажные издания книг</p>
        <div class="card-group cart_box" th:if="not ${#lists.isEmpty(orders)}">
            <div class="card cart_box_line order" th:each="book : ${orders}">
                <div class="cart_box_cell cart_box_img">
                    <a th:href="'/'+#{language}+'/books/'+${book.id}"><img th:src="'/uploads/books/' + ${book.coverImg}"
                                                                           class="card-img-top"
                                                                           th:alt="((#{language} == 'ru') or (${book.nameEng} == ''))?${book.name}:${book.nameEng}"></a>

                </div>
                <div class="card-body cart_box_cell">
                    <a class="black_link" th:href="'/'+#{language}+'/books/'+${book.id}"><h4 class="card-title"
                                                                                             th:text="((#{language} == 'ru') or (${book.nameEng} == ''))?${book.name}:${book.nameEng}"></h4>
                    </a>
                    <p class="card-text"
                       th:utext="((#{language} == 'ru') or (${book.authorEng} == ''))?${book.author}:${book.authorEng}"></p>
                    <div class="card-text book_description"
                         th:utext="((#{language} == 'ru') or (${book.descriptionEng} == ''))?${book.description}:${book.descriptionEng}"></div>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <a class="remove_link"
                       th:href="'/cart_delete?type=order_book&product='+${book.id}"><img
                            title="удалить" class="remove_img" src="/images/delete.png"></a>
                    <p th:text="#{cart.count}" style="text-align:center;">Количество</p>
                    <p>
                        <span class="up_arrow count_minus" title="вверх">-</span>
                        <input class="cart_count" type="text" th:value="${orderCount[book.id]}">
                        <span class="down_arrow count_plus" title="вниз">+</span>
                    </p>
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span th:attr="data-onePrice=${book.priceOrder}, data-product=${book.id}" data-type="order_book" class="item_price" th:text="${book.priceOrder}*${orderCount[book.id]}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p>
                </div>

            </div>
        </div>

        <p class="padding gray_font" th:if="not ${#lists.isEmpty(articles)}" th:text="#{article.articles}">Статьи</p>

        <div class="card-group cart_box" th:if="not ${#lists.isEmpty(articles)}">
            <div class="card cart_box_line" th:each="article : ${articles}">
                <div class="cart_box_cell cart_box_img">
                    <a th:href="'/'+#{language}+'/journal/'+(${article.section.number.journal.link == ''}?${article.section.number.journal.id}:${article.section.number.journal.link})+'/number/'+${article.section.number.year}+'-'+${article.section.number.name}+'/article/'+${article.id}"><img
                            th:src="'/uploads/journals/' + ${article.section.number.journal.cover}"
                            class="card-img-top"
                            th:alt="((#{language} == 'ru') or (${article.nameEng} == ''))?${article.name}:${article.nameEng}"></a>

                </div>
                <div class="card-body cart_box_cell">
                    <a class="black_link"
                       th:href="'/'+#{language}+'/journal/'+(${article.section.number.journal.link == ''}?${article.section.number.journal.id}:${article.section.number.journal.link})+'/number/'+${article.section.number.year}+'-'+${article.section.number.name}+'/article/'+${article.id}">
                        <h4 class="card-title"
                            th:text="((#{language} == 'ru') or (${article.nameEng} == ''))?${article.name}:${article.nameEng}"></h4>
                    </a>
                    <p class="card-text"
                       th:utext="((#{language} == 'ru') or (${article.authorsEng} == ''))?${article.authors}:${article.authorsEng}"></p>
                    <div class="card-text book_description"
                         th:utext="((#{language} == 'ru') or (${article.descriptEng} == ''))?${article.descript}:${article.descriptEng}"></div>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <a class="remove_link"
                       th:href="'/cart_delete?type=article&product='+${article.id}"><img
                            title="удалить" class="remove_img" src="/images/delete.png"></a>
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span class="item_price" th:text="${article.price}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p></div>

            </div>
        </div>


        <p class="padding gray_font" th:if="not ${#lists.isEmpty(numbers)}" th:text="#{leftMenu.journals}">Журналы</p>

        <div class="card-group cart_box" th:if="not ${#lists.isEmpty(numbers)}">
            <div class="card cart_box_line" th:each="number : ${numbers}">
                <div class="cart_box_cell cart_box_img">
                    <a th:href="'/'+#{language}+'/journal/'+(${number.journal.link == ''}?${number.journal.id}:${number.journal.link})+'/number/'+${number.year}+'-'+${number.name}"><img
                            th:src="'/uploads/journals/' + ${number.journal.cover}"
                            class="card-img-top"
                            th:alt="#{journal.journal}+' '+((#{language}=='ru')?${number.journal.name}:${number.journal.nameEng})+' №'+${number.name}+' '+#{for}+' '+${number.year}+' '+#{book.year}"></a>

                </div>
                <div class="card-body cart_box_cell">
                    <a class="black_link"
                       th:href="'/'+#{language}+'/journal/'+(${number.journal.link == ''}?${number.journal.id}:${number.journal.link})+'/number/'+${number.year}+'-'+${number.name}"><h4
                            class="card-title"
                            th:text="#{journal.journal}+' '+((#{language}=='ru')?${number.journal.name}:${number.journal.nameEng})+' №'+${number.name}+' '+#{for}+' '+${number.year}+' '+#{book.year}"></h4>
                    </a>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <a class="remove_link"
                       th:href="'/cart_delete?type=number&product='+${number.id}"><img
                            title="удалить" class="remove_img" src="/images/delete.png"></a>
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span class="item_price" th:text="${number.price}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p>
                </div>

            </div>
        </div>

        <p class="padding gray_font" th:if="not ${#lists.isEmpty(subscribes)}" th:text="#{header.subscribe}">Подписка</p>

        <div class="card-group cart_box" th:if="not ${#lists.isEmpty(subscribes)}">
            <div class="card cart_box_line subscribe" th:each="subscribe : ${subscribes}">
                <div class="cart_box_cell cart_box_img">
                    <a th:href="'/'+#{language}+'/journal/'+(${subscribe.link == ''}?${subscribe.id}:${subscribe.link})"><img
                            th:src="'/uploads/journals/' + ${subscribe.cover}"
                            class="card-img-top"
                            th:alt="#{journal.journal}+' '+((#{language}=='ru')?${subscribe.name}:${subscribe.nameEng})"></a>

                </div>
                <div class="card-body cart_box_cell">
                    <a class="black_link"
                       th:href="'/'+#{language}+'/journal/'+(${subscribe.link == ''}?${subscribe.id}:${subscribe.link})"><h4
                            class="card-title"
                            th:text="#{journal.journal}+' '+((#{language}=='ru')?${subscribe.name}:${subscribe.nameEng})"></h4>
                    </a>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <a class="remove_link"
                       th:href="'/cart_delete?type=journal_subscribe&product='+${subscribe.id}"><img
                            title="удалить" class="remove_img" src="/images/delete.png"></a>
                    <p th:text="#{cart.count}" style="text-align:center;">Количество</p>
                    <p>
                        <span class="up_arrow count_minus" title="вверх">-</span>
                        <input class="cart_count" type="text" th:value="${subscribeCount[subscribe.id]}">
                        <span class="down_arrow count_plus" title="вниз">+</span>
                    </p>
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span th:attr="data-onePrice=${subscribe.priceSubscribe}, data-product=${subscribe.id}" data-type="journal_subscribe" class="item_price" th:text="${subscribe.priceSubscribe}*${subscribeCount[subscribe.id]}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p>
                </div>

            </div>
        </div>

        <div class="card-group cart_box" th:if="${editorialFee == true}">
            <div class="card cart_box_line subscribe">
            <div style="text-align: center" class="card-body cart_box_cell">
                    <p style="font-size:14px;" class="card-text"
                       th:text="#{cart.editorialFee}"></p>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <a class="remove_link"
                       th:href="'/cart_delete?product=0&type=editorial_fee'"><img
                            title="удалить" class="remove_img" src="/images/delete.png"></a>
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span class="item_price" th:text="${editorialFeePrice}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p>
                </div>
            </div>
        </div>


        <p class="total_price"
           th:if="not ${#lists.isEmpty(numbers)} or not ${#lists.isEmpty(articles)} or not ${#lists.isEmpty(books)} or not ${#lists.isEmpty(orders)} or not ${#lists.isEmpty(subscribes)} or ${editorialFee == true}">
            <span th:text="#{price.total}+': '"></span><span class="total_price_sum"
                                                             th:text="${totalPrice}"></span><span
                th:text="' '+#{price.rub}"></span></p>

        <br>
        <form method="post" action="/order_cart" class="user_form"  th:if="not ${#lists.isEmpty(numbers)} or not ${#lists.isEmpty(articles)} or not ${#lists.isEmpty(books)} or not ${#lists.isEmpty(orders)} or not ${#lists.isEmpty(subscribes)} or ${editorialFee == true}"
              type="button" th:value="#{book.order}" th:object="${order}">
            <label for="fio" th:text="#{form.fio}+' *'">Фамилия, Имя, Отчество (полностью)*</label>
            <input th:field="*{fio}" type="text" id="fio" name="fio" class="required" required>

            <label for="phone" th:text="#{form.phone}+' *'">Контактный телефон *</label>
            <input th:field="*{phone}" type="text" name="phone" id="phone" required class="required">

            <label for="email">E-Mail *</label>
            <input th:field="*{email}" required class="required" type="email" name="email" id="email">

            <label th:if="not ${#lists.isEmpty(subscribes)} or not ${#lists.isEmpty(orders)}" class="textarea_label address_field" for="address" th:text="#{form.address}+' *'">Адрес доставки (страна,
                индекс, населенный пункт,
                область, республика, дом, квартира, офис)*</label>
            <textarea th:if="not ${#lists.isEmpty(subscribes)} or not ${#lists.isEmpty(orders)}" th:field="*{address}" required class="required" id="address" name="address" cols="60"
                      rows="2"></textarea>


            <input class="cart_order_input"
                                     type="submit" th:value="#{book.order}">
            <div style="text-align: center;">
                <img th:src="@{/images/mir.png}" width="50" style="margin-bottom:25px;">
                <img th:src="@{/images/mastercard.jpg}" width="100">
            </div>
<!--            <a onclick="submit_cart()"-->

<!--               class="btn btn-xs btn-outline btn-primary cart_order_input">[[#{book.order}]]-->
<!--            </a>-->


            <div class="form_message">

            </div>
        </form>

    </div>

</div>
</div>
<script>
    $(".remove_link").click(function (e) {
        e.preventDefault();

        if (confirm("Вы уверены, что хотите удалить товар из корзины?")) {
            var url = $(this).attr("href");
            var type = getAllUrlParams(url).type;
            var product = getAllUrlParams(url).product;
            var link = $(this);
            $.ajax({
                url: "/cart_delete",
                type: "POST", //метод отправки
                data: {
                    type: type,
                    product: product,
                },
                success: function () {
                    var cart = $(link).parent().parent(".cart_box_line");
                    var cart_box = $(cart).parent(".cart_box");
                    if ($(cart_box).find(".cart_box_line").length == 1) {
                        $(cart_box).prev(".gray_font").remove();
                        $(cart_box).remove();
                        if ($(".cart_box").length == 0) {
                            $(".user_form").remove();
                            $(".total_price").remove();
                            $(".hidden").show();
                        } else {
                            total();
                        }
                        if($(".order").length == 0 && $(".subscribe").length == 0){
                            $(".address_field").next().remove();
                            $(".address_field").remove();
                        }
                    } else {
                        $(link).parent().parent(".cart_box_line").remove();
                    }
                },
                error: function () {
                }
            });
        }
    });

    $(".count_minus").click(function(){
        var count = $(this).next("input");
        var val = Number.parseInt($(count).val());
        if(val > 1){
            $(count).val(val-1);
            var spanPrice = $(count).parent().next().find(".item_price");
            var currentPrice = Number.parseInt($(spanPrice).text());
            var onePrice = Number.parseInt($(spanPrice).attr("data-onePrice"));
            var type = $(spanPrice).attr("data-type");
            var product = Number.parseInt($(spanPrice).attr("data-product"));
            $(spanPrice).text(currentPrice-onePrice);
            change_count(product, type, val-1);
            total();
        }
    });

    $(".count_plus").click(function(){
        var count = $(this).prev("input");
        var val = Number.parseInt($(count).val());
        $(count).val(val+1);
        var spanPrice = $(count).parent().next().find(".item_price");
        var currentPrice = Number.parseInt($(spanPrice).text());
        var onePrice = Number.parseInt($(spanPrice).attr("data-onePrice"));
        var type = $(spanPrice).attr("data-type");
        var product = Number.parseInt($(spanPrice).attr("data-product"));
        $(spanPrice).text(currentPrice+onePrice);
        change_count(product, type, val+1);
        total();
    });

    $(".cart_count").change(function(){
        var val = $(this).val();
        if(val < 1){
            val = 1
            $(this).val(val);
        }
        var spanPrice = $(this).parent().next().find(".item_price");
        var onePrice = Number.parseInt($(spanPrice).attr("data-onePrice"));
        var type = $(spanPrice).attr("data-type");
        var product = Number.parseInt($(spanPrice).attr("data-product"));
        $(spanPrice).text(val*onePrice);
        change_count(product, type, val);
        total();
    });


    function change_count(product, type, count){
        console.log(product);
        console.log(type);
        console.log(count);
        $.ajax({
            url: "/cart_count_change",
            type: "POST", //метод отправки
            data: {
                type: type,
                product: product,
                count: count
            },
            success: function () {
            }
            });
    }

    function total(){
        var sum = 0;
        for (var i = 0; i < $(".item_price").length; i++) {
            sum += Number.parseInt($(".item_price").eq(i).text());
        }
        $(".total_price_sum").text(sum);
    }
</script>
<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>