<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive free template 404 for you website">
    <meta name="author" content="BootstrapTema">
    <link rel="icon" href="favicon.ico">
    <title>Page 404</title>
    <!-- Bootstrap CDN CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
	<style>
	@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900);
body{font-family:Rubik,sans-serif;margin:0;overflow-x:hidden;font-weight:300}
#wrapper{width:100%}error-box{height:100%;position:fixed;top:20%;width:100%}.error-box .footer{width:100%;left:0;right:0}.error-body{padding-top:5%}.error-body h1{font-size:210px;font-weight:900;line-height:210px}.text-danger{color: #51a0ba
                                                                                                                                                                                                                     }  .text-muted{color:#8d9ea7}  .m-b-40{margin-bottom:40px!important}  .m-t-30{margin-top:30px!important}  .m-b-30{margin-bottom:30px!important}@media only screen and (max-width: 520px){.error-body h1{font-size:110px;font-weight:700;line-height:110px}}
	</style>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <!-- Preloader -->
    <section id="wrapper" class="container-fluid">
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="text-danger">404</h1>
                <h3>Page Not Found !</h3>
                <p class="text-muted m-t-30 m-b-30">MOST LIKELY THE PAGE YOU ARE LOOKING FOR THERE</p>
                <a href="/" class="btn btn-danger btn-rounded m-b-40">Back to home</a> </div>
        </div>
    </section>
</body>
</html>