<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: header_menu}"></div>

<div id="content">
<!--    <div th:replace="~{left_menu :: menu}"></div>-->
    <div id="left_menu">
        <a th:href="@{'/'+#{language}+'/journals_info'}"><div th:classappend="(#{language} == 'ru')?'journals_info_ru':'journals_info_en'" id="journals_info_link"></div></a>
        <a th:href="@{'/'+#{language}+'/books_info'}"><div th:classappend="(#{language} == 'ru')?'books_info_ru':'books_info_en'" id="books_info_link"></div></a>
    </div>

    <div id="main_block">
        <div th:if="${not #lists.isEmpty(urgentlyNews)} or ${not #lists.isEmpty(shortNews)}">
            <div class="main_news" th:each="item: ${urgentlyNews}"
                 th:if="(#{language} == 'ru') and ${#strings.length(item.longNews) > 0}">
                <p th:utext="${item.longNews}"></p>
            </div>

            <div class="main_news" th:each="item: ${urgentlyNews}"
                 th:if="(#{language} == 'en') and ${#strings.length(item.longNewsEng) > 0}">
                <p th:utext="${item.longNewsEng}"></p>
            </div>

            <div class="short_news" th:each="item: ${shortNews}"
                 th:if="(#{language} == 'ru') and ${#strings.length(item.longNews) > 0}">
                <p th:utext="${item.longNews}"></p>
            </div>

            <div class="short_news" th:each="item: ${shortNews}"
                 th:if="(#{language} == 'en') and ${#strings.length(item.longNewsEng) > 0}">
                <p th:utext="${item.longNewsEng}"></p>
            </div>
        </div>

        <h3 class="page_title" style="margin-left:2.5%;" th:text="#{book.newBooks}">Новые книги</h3>
        <div class="card-group">
            <div class="card" th:each="book : ${booksnew}">
                <a th:href="'/'+#{language}+'/books/'+${book.id}"><img th:src="'/uploads/books/' + ${book.coverImg}"
                                                                       class="card-img-top" th:alt="((#{language} == 'ru') or (${book.nameEng} == ''))?${book.name}:${book.nameEng}"></a>
                <div class="card-body">
                    <a class="black_link" th:href="'/'+#{language}+'/books/'+${book.id}"><h4 class="card-title"
                                                                                             th:text="((#{language} == 'ru') or (${book.nameEng} == ''))?${book.name}:${book.nameEng}"></h4>
                    </a>
                    <p class="card-text" th:utext="((#{language} == 'ru') or (${book.authorEng} == ''))?${book.author}:${book.authorEng}"></p>
                    <div class="card-text book_description" th:utext="((#{language} == 'ru') or (${book.descriptionEng} == ''))?${book.description}:${book.descriptionEng}"></div>
                </div>
            </div>
        </div>
        <script>
            for (i = 0; i < $(".book_description").length; i++) {
                var descript = $(".book_description").eq(i).html();
                $(".book_description").eq(i).html(descript.split(' ').slice(0, 20).join(' ')+" ...")
            }
        </script>
    </div>
</div>
<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>