<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: header_menu}"></div>

<div id="content">
    <div th:replace="~{left_menu :: menu}"></div>
    <div id="main_block">
       <h3 class="page_title" th:text="'Журнал '+${currentJournal.name}"></h3>
        <div th:if="${not #lists.isEmpty(currentJournal.numbers)}"><span class="popup-open">Выбрать номер журнала</span></div>
        <div class="popup-fade">
            <div class="popup">
                <a class="popup-close" href="#">Закрыть</a>
                <div class="number_list" th:if="${not #lists.isEmpty(currentJournal.numbers)}">
                    <div class="number_line" th:each="number : ${numbersSorted}">
                        <span class="number_year" th:text="${number.key}"></span>
                        <div class="number_val" th:each="num : ${number.value}">
                            <a th:href="@{'/number/'+${num.id}}"><span th:text="${num.name}"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="journal_img" th:src="@{'/covers/'+${currentJournal.cover}}">
        <div class="jurnal_short_info">
            <div>Редактор: <span th:text="${currentJournal.redaktor}"></span></div>
            <div>Периодичность: <span th:text="${currentJournal.num_year}"></span></div>
            <div>ISSN: <span th:text="${currentJournal.issn}"></span></div>
            <div>«Пресса России» - индекс <span th:text="${currentJournal.pochta}"></span></div>
        </div>
        <div th:if="${currentJournal.descript != ''}" class="subtitle">Аннотация</div>
        <div th:if="${currentJournal.descript != ''}" th:utext="${currentJournal.descript}"></div>
        <div class="subtitle" th:if="${currentJournal.redkol != ''}">Редколлегия</div>
        <div th:if="${currentJournal.redkol != ''}" th:utext="${currentJournal.redkol}"></div>
    </div>
</div>
</body>
</html>