<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: header_menu}"></div>

<div id="content">
    <div th:replace="~{left_menu :: menu}"></div>
    <div id="main_block">
        <div class="page_title" th:text="#{keywords.title}+' '+${keywords}"></div>
        <div class="article_box" style="margin-bottom:10px;padding:8px;"  th:each="article : ${articles}">
            <div class="article_box_name"><a th:text="((#{language} == 'ru') or (${article.nameEng} == ''))?${article.name}:${article.nameEng}" th:href="'/'+#{language}+'/journal/'+(${article.section.number.journal.link == ''}?${article.section.number.journal.id}:${article.section.number.journal.link})+'/number/'+${article.section.number.year}+'-'+${article.section.number.name}+'/article/'+${article.id}"></a></div>
            <div class="article_box_authors" th:utext="((#{language} == 'ru') or (${article.authorsEng} == ''))?${article.authors}:${article.authorsEng}"></div>
        </div>
    </div>
</div>
</body>
</html>