<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: header_menu}"></div>

<div id="content">
    <div th:replace="~{left_menu :: menu}"></div>
    <div id="main_block">

       <h3 class="page_title" th:text="#{reg.authorization}">Авторизация</h3>
        <form th:attr="action='/authenticateTheUser'" class="auth_form" method="post">
            <label for="login" th:text="#{reg.login}">Логин</label>
            <input id="login" name="username" type="text">
            <label for="password" th:text="#{reg.password}">Пароль</label>
            <input id="password" name="password" type="password">
            <input name="submit" type="submit" th:value="#{reg.enter}">
            <div id="reg_link"><a th:href="'/'+#{language}+'/register'" th:text="#{reg.registration}">Регистрация</a></div>
        </form>

    </div>
</div>
</body>
</html>