<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: header_menu}"></div>

<div id="content">
    <div th:replace="~{left_menu :: menu}"></div>
    <div id="main_block">

       <h3 class="page_title">Авторизация</h3>
        <form th:attr="action=@{/authenticateTheUser}" class="auth_form" method="post">
            <label for="login">Логин</label>
            <input id="login" name="username" type="text">
            <label for="password">Пароль</label>
            <input id="password" name="password" type="password">
            <input name="submit" type="submit">
            <div id="reg_link"><a th:href="@{/register}">Регистрация</a></div>
        </form>

    </div>
</div>
</body>
</html>