<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: header_menu}"></div>

<div id="content">
<!--    <div th:replace="~{left_menu :: menu}"></div>-->
    <div id="main_block">
        <div th:if="${selectedNews != null}" class="page_title">
            <span th:text="${selectedNews.date}+' '"></span>
            <span th:text="((#{language} == 'ru') or (${selectedNews.nameEng} == ''))?${selectedNews.name}:${selectedNews.nameEng}"></span>
        </div>
        <div th:if="${selectedNews == null}" th:text="#{news.title}" class="page_title">
        </div>
        <div th:if="${selectedNews == null}" th:each="item : ${news}" class="news_block">
           <a class="black_link" th:href="'/'+#{language}+'/news/'+${item.id}"><span th:if="${item.date != null}" th:text="${item.date}+' '"></span><span th:text="((#{language} == 'ru') or (${item.nameEng} == ''))?${item.name}:${item.nameEng}"></span></a>
        </div>
        <div th:if="${selectedNews != null}" th:utext="((#{language} == 'ru') or (${selectedNews.longNewsEng} == ''))?${selectedNews.longNews}:${selectedNews.longNewsEng}">
        </div>
    </div>
</div>
</body>
</html>