<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: header_menu}"></div>

<div id="content">
    <div th:replace="~{left_menu :: menu}"></div>
    <div id="main_block">
        <div th:text="${selectedNews == null}? #{news.title} : ${selectedNews.date}+ ' '+${selectedNews.name}" class="page_title"></div>
        <div th:if="${selectedNews == null}" th:each="item : ${news}" class="news_block">
           <a class="black_link" th:href="'/'+#{language}+'/news/'+${item.id}"><span th:if="${item.date != null}" th:text="${item.date}+' '"></span><span th:text="${item.name}"></span></a>
        </div>
        <div th:if="${selectedNews != null}" th:utext="${selectedNews.longNews}">
        </div>
    </div>
</div>
</body>
</html>