<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: header_menu}"></div>

<div id="content">
    <div th:replace="~{left_menu :: menu}"></div>
    <div id="main_block">
        <td class="CentralPart">

            <div id="centr1">




                <H1>ЗАКАЗ КНИГ&nbsp;</H1>




                <H2>Если Вы выступаете от лица организации</H2>

                <H3><span class="c1">I</span> Вам необходима отдельно вышедшая книга</H3>

                <P class="TextA">Пришлите заявку на эту книгу, полностью указывая ее название и автора.</p>

                <H3><span class="c1">II</span> Вам необходима отдельная книга из серий книг</H3>

                <P class="TextA">Пришлите заявку на эту книгу, указав название серии, название книги, фамилию автора.</p>

                <P class="TextA">Заявки принимаются по факсу (495) 625-92-41 или по электронной почте E-mail:

                    <script language=JavaScript>

                        xx2='zakaz'+'@'+'radi'+'otec.'+'ru';

                        document.write(' <a href=\"'+'mailto:'+xx2+'\" class=\"t\">');

                        document.write(xx2+'</a>');

                    </script>. При этом Вы подробно указываете название организации, точный почтовый адрес, Ф.И.О.&nbsp;руководителя, факс и телефон для контактов, доставка почтой или самовывоз.</p>

                <P class="TextA"> Вам выставляется счет с учетом почтовых расходов или без них. Счет будет выслан по факсу или на почтовый адрес в соответствии с указанными Вами реквизитами.</p>

                <H3><span class="c1">III</span> Вам необходимы все книги серии</H3>

                <P class="TextA">Пришлите свою заявку, аналогично случаев I и II.</p>

                <P class="TextA">Вам выставляется счет на вышедшие книги. Далее будет автоматически выставляться счет на каждую выходящую книгу.</p>

                <P class="TextA"><table align="center"><tr><td class="TextA">Тел.: (495) 625-4837</td></tr><tr><td class="TextA">Тел./факс: (495) 625-9241</td></tr><tr><td class="TextA">

                <script language=JavaScript>

                    xx1='info'+'@'+'radi'+'otec.'+'ru';

                    document.write(' <a href=\"'+'mailto:'+xx1+'\" class=\"t\">');

                    document.write(xx1+'</a>');

                </script></td></tr><tr><td class="TextA"><a href="http://www.radiotec.ru/" class="t">http://www.radiotec.ru/</a></td></tr><tr><td class="TextA">Адрес: 107031, Москва, Кузнецкий мост, д. 20/6.</td></tr></table></p>

                <p></p>

                <H2>Если Вы выступаете от частного лица</H2>

                <H3><span class="c1">I</span> Вы хотите сделать заявку или приобрести книгу</H3>

                <P class="TextA">Оплата производится как за наличный расчет, так и по безналичному расчету через отдел Издательства «Книга почтой».</p>

                <P class="TextA">При безналичной оплате необходимо перевести предварительно уточненную сумму на р/с Издательства (см. с. ) и выслать по e-mail или факсу в адрес Издательства (см. ниже) копию квитанции об оплате, с заявкой на вышедшую книгу. При этом указываются название книги и фамилия автора, точный почтовый адрес, Ф.И.О., тел.</p>

                <P class="TextA">Сделать заявку на книгу Вы можете непосредственно в Издательстве по адресу:<br><b>107031, Москва, Кузнецкий мост, д. 20/6,<br>тел./факс: (495) 625-92-41, 621-48-37.</b></p>

                <H3><span class="c1">II</span> Вы хотите получать все книги серии</H3>

                <P class="TextA">Пришлите нам заявку с указанием названия серии книг.</p>

                <P class="TextA">Издательство будет письменно или по телефону оповещать Вас о выходе каждой книги серии.</p>

                <P class="TextA">Оплата производится через Сбербанк РФ. Для этого заполняется квитанция (форма № ПД-4) в любом отделении Сбербанка РФ, деньги перечисляются на счет Издательства. Оплаченная квитанция и карточка подписки отправляется по адресу:</p>

                <P class="TextA"><b>107031, Москва, Кузнецкий мост, д. 20/6.</b></p>

                <H2>Если Вы проживаете не в Москве</H2>

                <P class="TextA">Если Вы проживаете не в Москве, то можете заказать и получить выпускаемую Издательством литературу по почте, в любой точке России и ближнего зарубежья.</p>

                <P class="TextA">Стоимость пересылки составит 25% от суммы покупки, независимо от месторасположения.</p>

                <P class="TextA">Рассылка книг производится только по предварительной оплате.</p>
                



        </table>

        </p>

        <P class="TextA" id="c3">Для оптовиков и распространителей существует гибкая система скидок.</p>

        <p></p>


        <H2>Вы можете оформить заказ прямо с сайта:</H2>

        <form action="" method="post">

            <input type="hidden" name="action" value="post">

            <table width=100% border="0" cellspacing="6" cellpadding="6" bgcolor="#CBD6D5"><tr><td align="left">

                <h4 style="margin-top: 0;">Заказ на книгу</h4>


                <p class="TextB"><strong>Фамилия, Имя, Отчество (полностью)*</strong>

                <p class="mrg3"><input type="text" name="client" class=zakazform value="" size="50">

                <p class="TextB">Организация

                <p class="mrg3"><input type="text" name="firma" class=zakazform value="" size="50">

                <p class="TextB" style="margin-bottom: 0;"><strong>Адрес доставки</strong> (страна, индекс, населенный пункт,<br>область, республика, дом, квартира, офис)<strong>*</strong></p>

                <p class="mrg3"><textarea name="address" rows="3" cols="40" wrap="hard" class=zakazform></textarea>

                <p class="TextB">Книга / Книга серии

                <p class="mrg3"><input type="text" name="journal" class=zakazform value="" size="45">

                <p class="TextB">Количество экземпляров

                <p class="mrg3"><input type="text" name="komplekt" value="" size="3">

                <p class="TextB"><strong>Контактный телефон</strong> (удобное время)<strong>*</strong>

                <p class="mrg3"><input type="text" name="phone" class=zakazform value="" size="45">

                <p class="TextB">Факс

                <p class="mrg3"><input type="text" name="fax" class=zakazform value="" size="45">

                <p class="TextB"><strong>E-Mail*</strong>

                <p class="mrg3"><input type="text" name="email" class=zakazform value="" size="45">


            </td></tr></table>

            <br><p class="TextB"><input type="submit" value="Заказать">

        </form>

    </div>
    </td>
    </div>
</div>
</body>
</html>