<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: header_menu}"></div>

<div id="content">
    <div th:replace="~{left_menu :: menu}"></div>
    <div id="main_block">
        <H1>ПОДПИСКА НА КНИГИ И ЖУРНАЛЫ</H1>

        <H2>Подписка на периодические издания в печатной и электронной формах</H2>
        <H3><span class="c1"></span> Наши издания рассылаются почтой по всей <b>территории России и ближнего зарубежья.</b></H3>
        <H3><span class="c1"></span> Электронные версии наших периодических изданий доступны по подписке в формате pdf.</b></H3>
        <P class="TextA">Мы предлагаем Вам различные способы оформления подписки на наши издания:</p>
        <ul><li class="a">Для печатных изданий Вы можете оформить подписку на почте через каталог Агентства <b>«Роспечать»</b> и по Объединенному каталогу <b>«Пресса России»</b></li>
            <li class="a"> Вы можете оформить подписку непосредственно в издательстве. При этом подписка обойдется Вам дешевле, поскольку почтовые расходы на территории России издательство берет на себя.</li></ul>
        <P class="TextA" id="c2">Постоянным подписчикам издательства предоставляется скидка.</p>
        <H2>Порядок оформления подписки</H2>
        <H3><span class="c1">1.</span> Оплата платежным поручением:</H3>
        <P class="TextA">Переведите платежным поручением общую сумму стоимости заказа на расчетный счет издательства.</p>
        <P class="TextA">Cчет на оплату можно заказать по тел.: (495) 621-48-37, 625-92-41, сообщив наименование издания, количество комплектов, точный почтовый адрес и название организации.</p>
        <H3><span class="c1">2.</span> Оплата через отделение Сбербанка РФ:</H3>
        <P class="TextA">Заполните квитанцию (форма №ПД-4) в любом отделении Сбербанка РФ и перечислите деньги на счет издательства. Оплаченную квитанцию и карточку подписки отправьте по адресу 107031, Москва, Кузнецкий мост, 20/6, Издательство «Радиотехника».</p>
        <p></p>
        <H2>Заполнение карточки подписки</H2>
        <P class="TextA">Разборчиво впишите в карточку подписки адрес, по которому Вы хотите получать выписанные издания (для подписки на электронную версию обязательно указажите Ваш e-mail).</p>
        <P class="TextA">Если места в карточке подписки недостаточно, опишите свой заказ на отдельном листке бумаги с указанием всей подписной информации.</p>
        <p></p>

        <H2>Вы можете оформить подписку прямо с сайта:</H2>
        <form action="" method="post">
            <input type="hidden" name="action" value="post">
            <table width=100% border="0" cellspacing="6" cellpadding="6" bgcolor="#CBD6D5"><tr><td align="left">
            </td></tr>
                <tr><td align="left">
                    <a name=blank><H4 style="margin-top: 0;">Карточка подписки</H4></a>
                    <p class="TextB"><strong>Фамилия, Имя, Отчество (полностью)*</strong>
                    <p class="mrg3"><input type="text" name="client" class=zakazform value="" size="50">
                    <p class="TextB">Организация
                    <p class="mrg3"><input type="text" name="firma" class=zakazform value="" size="50">
                    <p class="TextB" style="margin-bottom: 0;"><strong>Адрес доставки</strong> (страна, индекс, населенный пункт,<br>область, республика, дом, квартира, офис)<strong>*</strong></p>
                    <p class="mrg3"><textarea name="address" rows="3" class=zakazform cols="40" wrap="hard"></textarea>
                    <p class="TextB">Прошу оформить подписку на журнал
                    <p class="mrg3"><input type="text" name="journal" class=zakazform value="" size="45">
                    <p class="TextB">Количество комплектов
                    <p class="mrg3"><input type="text" name="komplekt" value="" size="3">
                    <p class="TextB"><strong>Контактный телефон</strong> (удобное время)<strong>*</strong>
                    <p class="mrg3"><input type="text" name="phone" class=zakazform value="" size="45">
                    <p class="TextB">Факс
                    <p class="mrg3"><input type="text" name="fax" class=zakazform value="" size="45">
                    <p class="TextB"><strong>E-Mail*</strong>
                    <p class="mrg3"><input type="text" name="email" class=zakazform value="" size="45">
                </td></tr></table>
            <br><p class="TextB"><input type="submit" value="Подписаться">
        </form>
    </div>
</div>
</body>
</html>