<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: header_menu}"></div>

<div id="content">
    <div id="main_block_full" class="relative">
        <p class="success_payment">Заказ успешно оформлен!</p>

        <p class="padding gray_font" th:if="not ${#lists.isEmpty(books)}" th:text="#{book.books}">Книги</p>
        <div class="card-group cart_box" th:if="not ${#lists.isEmpty(books)}">
            <div class="card cart_box_line" th:each="book : ${books}">
                <div class="cart_box_cell cart_box_img">
                    <a th:href="'/'+#{language}+'/books/'+${book.id}"><img th:src="'/uploads/books/' + ${book.coverImg}"
                                                                           class="card-img-top"
                                                                           th:alt="((#{language} == 'ru') or (${book.nameEng} == ''))?${book.name}:${book.nameEng}"></a>

                </div>
                <div class="card-body cart_box_cell">
                    <a class="black_link" th:href="'/'+#{language}+'/books/'+${book.id}"><h4 class="card-title"
                                                                                             th:text="((#{language} == 'ru') or (${book.nameEng} == ''))?${book.name}:${book.nameEng}"></h4>
                    </a>
                    <p class="card-text"
                       th:utext="((#{language} == 'ru') or (${book.authorEng} == ''))?${book.author}:${book.authorEng}"></p>
                    <div class="card-text book_description"
                         th:utext="((#{language} == 'ru') or (${book.descriptionEng} == ''))?${book.description}:${book.descriptionEng}"></div>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span class="item_price" th:text="${book.price}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p>
                </div>

            </div>
        </div>

        <p class="padding gray_font" th:if="not ${#lists.isEmpty(orders)}" th:text="#{cart.paperEditionBook}">Бумажные издания книг</p>
        <div class="card-group cart_box" th:if="not ${#lists.isEmpty(orders)}">
            <div class="card cart_box_line order" th:each="book : ${orders}">
                <div class="cart_box_cell cart_box_img">
                    <a th:href="'/'+#{language}+'/books/'+${book.id}"><img th:src="'/uploads/books/' + ${book.coverImg}"
                                                                           class="card-img-top"
                                                                           th:alt="((#{language} == 'ru') or (${book.nameEng} == ''))?${book.name}:${book.nameEng}"></a>

                </div>
                <div class="card-body cart_box_cell">
                    <a class="black_link" th:href="'/'+#{language}+'/books/'+${book.id}"><h4 class="card-title"
                                                                                             th:text="((#{language} == 'ru') or (${book.nameEng} == ''))?${book.name}:${book.nameEng}"></h4>
                    </a>
                    <p class="card-text"
                       th:utext="((#{language} == 'ru') or (${book.authorEng} == ''))?${book.author}:${book.authorEng}"></p>
                    <div class="card-text book_description"
                         th:utext="((#{language} == 'ru') or (${book.descriptionEng} == ''))?${book.description}:${book.descriptionEng}"></div>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <p th:text="#{cart.count}" style="text-align:center;">Количество</p>
                    <p>
                        <input class="cart_count" type="text" th:value="${orderCount[book.id]}">
                    </p>
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span th:attr="data-onePrice=${book.priceOrder}, data-product=${book.id}" data-type="order_book" class="item_price" th:text="${book.priceOrder}*${orderCount[book.id]}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p>
                </div>

            </div>
        </div>

        <p class="padding gray_font" th:if="not ${#lists.isEmpty(articles)}" th:text="#{article.articles}">Статьи</p>

        <div class="card-group cart_box" th:if="not ${#lists.isEmpty(articles)}">
            <div class="card cart_box_line" th:each="article : ${articles}">
                <div class="cart_box_cell cart_box_img">
                    <a th:href="'/'+#{language}+'/journal/'+(${article.section.number.journal.link == ''}?${article.section.number.journal.id}:${article.section.number.journal.link})+'/number/'+${article.section.number.year}+'-'+${article.section.number.name}+'/article/'+${article.id}"><img
                            th:src="'/uploads/journals/' + ${article.section.number.journal.cover}"
                            class="card-img-top"
                            th:alt="((#{language} == 'ru') or (${article.nameEng} == ''))?${article.name}:${article.nameEng}"></a>

                </div>
                <div class="card-body cart_box_cell">
                    <a class="black_link"
                       th:href="'/'+#{language}+'/journal/'+(${article.section.number.journal.link == ''}?${article.section.number.journal.id}:${article.section.number.journal.link})+'/number/'+${article.section.number.year}+'-'+${article.section.number.name}+'/article/'+${article.id}">
                        <h4 class="card-title"
                            th:text="((#{language} == 'ru') or (${article.nameEng} == ''))?${article.name}:${article.nameEng}"></h4>
                    </a>
                    <p class="card-text"
                       th:utext="((#{language} == 'ru') or (${article.authorsEng} == ''))?${article.authors}:${article.authorsEng}"></p>
                    <div class="card-text book_description"
                         th:utext="((#{language} == 'ru') or (${article.descriptEng} == ''))?${article.descript}:${article.descriptEng}"></div>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span class="item_price" th:text="${article.price}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p></div>

            </div>
        </div>


        <p class="padding gray_font" th:if="not ${#lists.isEmpty(numbers)}" th:text="#{leftMenu.journals}">Журналы</p>

        <div class="card-group cart_box" th:if="not ${#lists.isEmpty(numbers)}">
            <div class="card cart_box_line" th:each="number : ${numbers}">
                <div class="cart_box_cell cart_box_img">
                    <a th:href="'/'+#{language}+'/journal/'+(${number.journal.link == ''}?${number.journal.id}:${number.journal.link})+'/number/'+${number.year}+'-'+${number.name}"><img
                            th:src="'/uploads/journals/' + ${number.journal.cover}"
                            class="card-img-top"
                            th:alt="#{journal.journal}+' '+((#{language}=='ru')?${number.journal.name}:${number.journal.nameEng})+' №'+${number.name}+' '+#{for}+' '+${number.year}+' '+#{book.year}"></a>

                </div>
                <div class="card-body cart_box_cell">
                    <a class="black_link"
                       th:href="'/'+#{language}+'/journal/'+(${number.journal.link == ''}?${number.journal.id}:${number.journal.link})+'/number/'+${number.year}+'-'+${number.name}"><h4
                            class="card-title"
                            th:text="#{journal.journal}+' '+((#{language}=='ru')?${number.journal.name}:${number.journal.nameEng})+' №'+${number.name}+' '+#{for}+' '+${number.year}+' '+#{book.year}"></h4>
                    </a>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span class="item_price" th:text="${number.price}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p>
                </div>

            </div>
        </div>

        <p class="padding gray_font" th:if="not ${#lists.isEmpty(subscribes)}" th:text="#{header.subscribe}">Подписка</p>

        <div class="card-group cart_box" th:if="not ${#lists.isEmpty(subscribes)}">
            <div class="card cart_box_line subscribe" th:each="subscribe : ${subscribes}">
                <div class="cart_box_cell cart_box_img">
                    <a th:href="'/'+#{language}+'/journal/'+(${subscribe.link == ''}?${subscribe.id}:${subscribe.link})"><img
                            th:src="'/uploads/journals/' + ${subscribe.cover}"
                            class="card-img-top"
                            th:alt="#{journal.journal}+' '+((#{language}=='ru')?${subscribe.name}:${subscribe.nameEng})"></a>

                </div>
                <div class="card-body cart_box_cell">
                    <a class="black_link"
                       th:href="'/'+#{language}+'/journal/'+(${subscribe.link == ''}?${subscribe.id}:${subscribe.link})"><h4
                            class="card-title"
                            th:text="#{journal.journal}+' '+((#{language}=='ru')?${subscribe.name}:${subscribe.nameEng})"></h4>
                    </a>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <p th:text="#{cart.count}" style="text-align:center;">Количество</p>
                    <p>
                        <input class="cart_count" type="text" th:value="${subscribeCount[subscribe.id]}">
                    </p>
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span th:attr="data-onePrice=${subscribe.priceSubscribe}, data-product=${subscribe.id}" data-type="journal_subscribe" class="item_price" th:text="${subscribe.priceSubscribe}*${subscribeCount[subscribe.id]}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p>
                </div>

            </div>
        </div>

        <div class="card-group cart_box" th:if="${editorialFee == true}">
            <div class="card cart_box_line subscribe">
                <div style="text-align: center" class="card-body cart_box_cell">
                    <p style="font-size:14px;" class="card-text"
                       th:text="#{cart.editorialFee}"></p>
                </div>
                <div class="card-price cart_box_cell cart_box_price">
                    <p>
                        <span th:text="#{price.price}+': '"></span>
                        <span class="item_price" th:text="${editorialFeePrice}"></span>
                        <span th:text="' '+#{price.rub}"></span>
                    </p>
                </div>
            </div>
        </div>


        <p class="total_price"
           th:if="not ${#lists.isEmpty(numbers)} or not ${#lists.isEmpty(articles)} or not ${#lists.isEmpty(books)} or not ${#lists.isEmpty(orders)} or not ${#lists.isEmpty(subscribes)} or ${editorialFee == true}">
            <span th:text="#{price.totalPaid}+': '"></span><span class="total_price_sum"
                                                             th:text="${totalPrice}"></span><span
                th:text="' '+#{price.rub}"></span></p>

        <br>

    </div>

</div>
</div>
<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>